.idea
.ipynb_checkpoints

__pycache__

wandb

*.avi
*.AVI
*.bmp
*.BMP
*.cfg
*.data
*.heic
*.HEIC
*.h5
*.pth
*.jpg
*.JPG
*.jpeg
*.JPEG
*.mov
*.MOV
*.mp4
*.MP4
*.png
*.PNG
*.tif
*.TIF
*.tiff
*.TIFF
*.log
*.onnx
*.pt


